body {
  width: 350px;
  height: 490px;
  font-family: helvetica;
  font-weight: bold;
  background-color: #f8f8f8;
  padding: 0px;
  margin: 0px;
}

canvas {
  display: none;
}

.title {
  letter-spacing: 2.5px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 14px;
}


.logo1{
  position: absolute;
  z-index: 2;
  top: 85px;
  left: calc(50% - 122px)
}

.logo2{
  position: absolute;
  z-index: 1;
  top: 50px;
}

.hidden {
  display: none;
}

.buttons {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-around;
  margin-top: 225px;
}

.button {
 text-decoration: none;
 width: 75px;
 height: 28px;
 background-color: #6f7ab6;
 color: white;
 font-size: 20px;
 border-radius: 10px;
 text-align: center;
 padding-top: 6px;
 letter-spacing: 0.5px;
}

.previews {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.preview {
  width: 100px;
  height: 155px;
  background-color: #e6e7e8;
  text-align: center;
}

.preview img {
  height: 100%
}